/* GENERICS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1180px;
    margin: auto auto;
}

header .container{
    padding: 10px auto;
}

.logo{
    width: 140px;
   
}

header{
padding: 10px;
background-color:#ff6900 ;
color: white;
}

main{
    padding-top: 40px;
}

h3{
    margin-top: 20px;
}


/* UTILS */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.between{
    justify-content: space-between;
    align-items: center;
}

.align-items{
    align-items: center;
}


/* CARDS */

.shop-card{
    width:  calc(100% / 3 - 20px);
    margin: 10px;
}

.img-card{
    width: 100%;
    height: 500px;

}

.img-card img{
   width: 100%;
   height: 100%;
}



.discount-price{
    color: red;
}

.price{
    text-decoration: line-through;
}

.relative{
    position: relative;
}

.img-1b{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    
}

.img-card:hover .img-1{
    display: none;
}

/* FOOTER */

footer{
    width: 100%;
    padding: 30px 0;
    margin-top: 60px
    ;
    background-color: #1a1a1a;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
    padding: 10px;
}
footer ul{
    list-style-type: none;
    font-size: 1.25rem;
    display: flex;
}

footer ul li a i{
    font font-size: 2rem;
}



/* DEBUG */


.debug{
    border: 2px dashed black;
}




